#container{
    width: 1140px;
    background-color: silver;
    
}
#blog-post-container{
    width: 75%;
    background-color: aquamarine;
}
#other-post{
    width: 25%;
    background-color: salmon;
}
#author-box{
    border: 2px solid khaki;
}